@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>Professor:  @ViewData["Professor"]</h3>
<p> <strong> Contato:  </strong>@ViewData["email"]</p>

<p>Use this area to provide additional information.</p>

<address>
    <p>
        Mais informações: 
        <a href="https://github.com/IsaiasCosta/SalesWebMvc/tree/master"> Git hub</a>
    </p>
</address>
    
